#render_window{
  /*position: absolute;*/
  /*top: 0; right: 0; bottom: 0; left: 0;*/
  /*z-index: -1000;*/
  /*width: 30em;*/
  /*height: 20em;*/
  width: 30vw;
  height: 25vw;
  max-width: 35em;
  max-height: 25em;
  background-color: green;
}
