h1{
  margin-top: 1em;
}

.lesson_page{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.lesson_page h1{
  font-weight: bold;
  font-size: xx-large;
}

.lessons{
  height: 70vh;
  display: flex;
  flex-flow: row;
  margin: 16px;
  padding: 16px;
  justify-content: space-around;
}

.lesson_container{
  background-color: transparent;
  width: 45%;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
}

.renderer{
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
  background-color: black;
}

.controls {
  background-color: lightgray;
  border-radius: 0 0 20px 20px;
}

.explanation{
  margin-top: 1em;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  /*overflow: hidden;*/
}

.next_prev{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#chapter_tip{
  width: 90%;
  height: 1em;
  margin: 0 auto;
  display: flex;
  flex-flow:row;
  align-content: center;
  align-items: center;
}

#survival{
  width: 20em;
  background-color: #FFC107;
}

#underpopulation{
  background-color: #D81B60;
  color: white;
  width: 20em;
}

#overpopulation{
  background-color: #1E88E5;
  color: white;
  width: 20em;
}

#birth{
  background-color: #004D40;
  color: white;
  width: 20em;
}

