<div class="controls_container">
  <div id="controls">
    <button mat-icon-button color="primary" (click)="clear($event)" matTooltip="Clear the Game board" matTooltipPosition="above">
      <mat-icon>
        close
      </mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="revert($event)" [disabled]="this.running" matTooltip="Go back by one epoch" matTooltipPosition="above">
      <mat-icon>
        skip_previous
      </mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="play($event)" matTooltip="Play/Pause the Game" matTooltipPosition="above">
      <mat-icon *ngIf="!this.running">
        play_arrow
      </mat-icon>
      <mat-icon *ngIf="this.running">
        pause
      </mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="advance($event)" [disabled]="this.running" matTooltip="Advance the game by one epoch" matTooltipPosition="above">
      <mat-icon>
        skip_next
      </mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="restore($event)" [disabled]="this.running" matTooltip="Restore the cleared board" matTooltipPosition="above">
      <mat-icon>
        replay
      </mat-icon>
    </button>
  </div>
</div>

<mat-drawer-container id="navigation_container">
  <mat-drawer #drawer class="sidenav_drawer" id="navigation_drawer" mode="side">
    <div class="sidebar" id="sidebar_navigation">
      <button type="button" mat-button>2D Game of Life simulator</button>
      <button type="button" mat-button>Tour of Life</button>
      <button type="button" mat-button disabled>3D Game of Life simulator</button>
    </div>
  </mat-drawer>
  <div id="sidenav_button">
    <div id="expand_sidenav">
      <button type="button" class="selection_button" mat-button (click)="drawer.toggle()">
        <mat-icon style="margin-left: -100%">menu</mat-icon>
      </button>
    </div>
  </div>
</mat-drawer-container>

<mat-drawer-container id="options_container">
  <div id="options_button">
    <div id="expand_options">
      <button type="button" class="selection_button" mat-button (click)="options.toggle();">
        <mat-icon style="margin-left: -100%">menu</mat-icon>
      </button>
    </div>
  </div>
  <mat-drawer #options class="sidenav_drawer" id="options_drawer" mode="side" position="end">
    <div class="sidebar" id="sidebar_options">

      <div class="option_box">
        <p class="option_name">Living cells</p>
        <p>{{getLiveCount()}}</p>
      </div>

      <div class="option_box">
        <p class="option_name">Cells born</p>
        <p>{{this.nr_to_birth}}</p>
      </div>

      <div class="option_box">
        <p class="option_name">Cells died</p>
        <p>{{this.nr_to_die}}</p>
      </div>

      <div class="option_box">
        <p class="option_name">Min # of cells for survival</p>
        <mat-form-field class="options_input">
          <label>
            <input type="number" min="0" max="{{this.max_survival}}" matInput value="{{this.min_survival}}" (change)="setMinSurvival($event)">
          </label>
        </mat-form-field>
      </div>

      <div class="option_box">
        <p class="option_name">Max # of cells for survival</p>
        <mat-form-field class="options_input">
          <label>
            <input type="number" min="{{this.min_survival}}" max="8" matInput value="{{this.max_survival}}" (change)="setMaxSurvival($event)">
          </label>
        </mat-form-field>
      </div>

      <div class="option_box">
        <p class="option_name"># of cells for birth</p>
        <mat-form-field class="options_input">
          <label>
            <input type="number" min="1" max="8" matInput value="{{this.birth}}" (change)="setBirth($event)">
          </label>
        </mat-form-field>
      </div>

      <div class="option_box">
        <p class="option_name">Prediction mode</p>
        <mat-checkbox id="prediction_mode" value="{{this.prediction_mode}}" (change)="predictionMode()" class="example-margin" color="primary"></mat-checkbox>
      </div>

      <div class="option_box">
        <p class="option_name">Developer mode</p>
        <mat-checkbox (change)="predictionMode()" class="example-margin" color="primary"></mat-checkbox>
      </div>

      <div class="option_box">
        <p class="option_name">Simulation speed</p>
        <mat-slider color="primary" min="0.1" max="10" step="0.1" thumbLabel value="{{this.interval * 10}}" (change)="change_speed($event)"></mat-slider>
      </div>

      <div class="option_box">
        <p class="option_name">Limit of returns</p>
        <mat-form-field class="options_input">
          <label>
            <input type="number" min="0" matInput id="revert_count" value="{{this.getRevert()}}" (change)="setRevert($event)">
          </label>
        </mat-form-field>
      </div>

      <div class="option_box">
        <p class="option_name">Background color</p>
        <div class="color_sliders">
          <div class="option_box">
            R
            <mat-slider id="bg_r" (change)="sceneColor()" value="{{this.bg_color.r * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
          <div class="option_box">
            G
            <mat-slider id="bg_g" (change)="sceneColor()" value="{{this.bg_color.g * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
          <div class="option_box">
            B
            <mat-slider id="bg_b" (change)="sceneColor()" value="{{this.bg_color.b * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
        </div>
      </div>

      <div class="option_box">
        <p class="option_name">Cell color</p>
        <div class="color_sliders">
          <div class="option_box">
            R
            <mat-slider id="c_r" (change)="cellColor()" value="{{this.cell_color.r * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
          <div class="option_box">
            G
            <mat-slider id="c_g" (change)="cellColor()" value="{{this.cell_color.g * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
          <div class="option_box">
            B
            <mat-slider id="c_b" (change)="cellColor()" value="{{this.cell_color.b * 255}}" disabled="{{this.prediction_mode}}" color="primary" min="0" max="255" step="1" thumbLabel vertical></mat-slider>
          </div>
        </div>
      </div>

      <div class="option_box">
        <p class="option_name">Hide grid</p>
        <mat-checkbox (change)="hideGrid()" class="example-margin" color="primary"></mat-checkbox>
      </div>

      <div class="option_box">
        <p class="option_name">File input WIP</p>
        <button type="button" disabled mat-raised-button>Choose File</button>
      </div>

    </div>
  </mat-drawer>
</mat-drawer-container>


<div id="render_window"></div>
