<div class="container">
  <mat-drawer-container id="navigation_container">
    <mat-drawer #drawer class="sidenav_drawer" id="navigation_drawer" mode="over">
      <div class="sidebar" id="sidebar_navigation">
        <button type="button" mat-button routerLink="/life2d">2D Game of Life simulator</button>
        <button type="button" mat-button routerLink="/touroflife">Tour of Life</button>
        <button type="button" mat-button disabled routerLink="/life3d">3D Game of Life simulator</button>
      </div>
    </mat-drawer>
    <div id="sidenav_button" style="position: absolute; z-index: 1000">
      <div id="expand_sidenav">
        <button type="button" class="selection_button" mat-icon-button (click)="drawer.toggle()" style="width: 1em">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>



